table{
    margin: 50px auto;
    width: 50%;
}

table,
    td {
        border: 1px solid rgb(13, 8, 20);
    }

    table caption{
            margin-bottom: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 2em;
        }
/*BOTONES*/
div{
    margin: 0;
    padding: 0;
}

div input{
    padding: 8px;
    margin: 10px;
}

.block input{
    display: block;
}
